
# Configure a default setup of Home Assistant (frontend, api, etc)
#default_config:
homeassistant:
  # Load packages
  packages: !include_dir_named integrations
sensor:
  - platform: template
    sensors:
      powerplug_2_voltage:
        value_template: >-
          {{ states.switch.powerplug_2_plug.voltage }}
        unit_of_measurement: 'V'
      powerplug_2_current:
        value_template: >-
          {{ states.switch.powerplug_2_plug.current }}
        unit_of_measurement: 'mA'
      powerplug_2_consumption:
        value_template: >-
          {{ states.switch.powerplug_2_plug.current_consumption }}
        unit_of_measurement: 'W'
  - platform: template
    sensors:
      pv_outputpower:
        value_template: '{{ states.sensor.inverter_None.attributes.outputpower }}'
        unit_of_measurement: 'W'
        friendly_name: "PV Power output"
      pv_temperature:
        value_template: '{{ states.sensor.inverter_None.attributes.tempperature }}'
        unit_of_measurement: 'C'
        friendly_name: "PV Temperature"
      pv_eday:
        value_template: '{{ states.sensor.inverter_None.attributes.eday }}'
        unit_of_measurement: 'kWh'
        friendly_name: "PV energy day"
      pv_etotal:
        value_template: '{{ states.sensor.inverter_None.attributes.etotal }}'
        unit_of_measurement: 'kWh'
        friendly_name: "PV energy total"
      pv_iday:
        value_template: '{{ states.sensor.inverter_None.attributes.iday }}'
        unit_of_measurement: '€'
        friendly_name: "PV income day"
      pv_itotal:
        value_template: '{{ states.sensor.inverter_None.attributes.itotal }}'
        unit_of_measurement: '€'
        friendly_name: "PV income total"
      pv_excess:
        value_template: '{{ states.sensor.inverter_None.attributes.pmeter }}'
        unit_of_measurement: 'W'
        friendly_name: "PV spare"
      # battery soc
      pv_soc:
        value_template: '{{ states.sensor.inverter_None.attributes.soc }}'
        unit_of_measurement: '%'
        friendly_name: "Battery power"
#template:
#  - sensor:
#      - name: watermeter_toonwater
#        unique_id: watermeter_toonwater
#        device_class: water
#        unit_of_measurement: "m³"
#        state: >- 
#           {{states.sensor.watermeter.attributes["waterquantity"] |float /1000}}
#        state_class: total_increasing